.loader-body{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    top: 0;
    justify-content: center;
    background-color: white;
    z-index: 9999999999999;
}

.loader{
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    
}
.loader-content .quote{
    font-family: Helvetica;
    margin: auto;
    margin-top: 30px;
    color: #374151;
}
.loader-content .writer{
    text-align: right;
    color: #374151;
    font-family: Helvetica;
    margin-top: 10px;
}

.loader:before, .loader:after{
    content: '';
    border: 1em solid #1292ee;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay:.5s ;
}
@keyframes loader {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}*{
    margin: 0;
    padding: 0;
}

.loader-body{
    position: fixed;
    z-index: 999999;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader{
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    
}

.loader:before, .loader:after{
    content: '';
    border: 1em solid #1292ee;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay:.5s ;
}
@keyframes loader {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}